@import './../../styles/variables.scss';

app-login-screen {
    height: 100%;
}

.login-screen-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $backgroundColor;
}

.buttons-container {    
    margin-bottom: 30%;
}

.input-container {
    padding: 5%;
    border: 2px solid $gray;
}
